.game{
	border:3px ridge #DDDDDD;  
	width:800px;
	height:800px;
	margin:0 auto;
}


.box{
    border:3px ridge #DDDDDD;  
    margin:3px;
    height:160px;				 
}

.box img{
    float:left;
    width:120px;
    height:120px;
    margin:10px;
    vertical-align:text-top;
}

.text{
    display:inline-block;	
    word-break: break-all;
    font-size:16px;
   
    padding:5px;
}

.littlefig{
    display:inline-block;	
}
.littlefig img{
    width:50px;
    height:50px; 			
}

.userbar{
    display:inline-block;	
}
.bar{			
    width:360px;
    margin-bottom:5px;
}

.bartext{
    magin:0 auto;
    width:25px;
    display:inline-block;	 
} 

.barline{
    magin:0 auto;
    width:180px;
    border:3px ridge #DDDDDD;  
    display:inline-block;	 			
}

.enemybartext{
    magin:0 auto;
    width:70px;
    display:inline-block;	 
} 		
.enemybarline{
    magin:0 auto;
    width:280px;
    border:3px ridge #DDDDDD;  
    display:inline-block;	 			
}

.allbtn{
    margin:10px;
}	

.btn{
    margin-right:40px;
}	