.game{
	border:2px ridge #000000;  
	width:800px;
	height:720px;
	margin:0 auto;
}


.box{
    border:5px ridge #DDDDDD;   
    height:180px;
    margin:5px;	
			 
}

.introduce{
	word-break: break-all;
    font-size:16px;
}

.photo{
	vertical-align:top;
    height:150px;
    margin:10px; 
    border: 3px dotted #444444;   
}

.text{
	display:inline-block;	
    word-break: break-all;
    font-size:16px;
    padding:5px;
}

.user{
	display:block;
	height:100px;
} 

.littlephoto{
	vertical-align:top;
    display:inline-block;	
    margin:10px; 
    height:80px;				
}

.littlephoto img{
   height:80px;		
}
.userbar{
    display:inline-block;	
    margin:10px; 
    height:80px;	
}
.bar{			
    width:360px;
    margin:10px;
}

.bartext{
    magin:0 auto;
    width:25px;
    display:inline-block;	 
} 

.barline{
    magin:0 auto;
    width:180px;
    border:3px ridge #DDDDDD;  
    display:inline-block;	 			
}

.enemybartext{
    magin:0 auto;
    width:70px;
    display:inline-block;	 
} 		
.enemybarline{
    magin:0 auto;
    width:280px;
    border:3px ridge #DDDDDD;  
    display:inline-block;	 			
}

.allbtn{
    margin:10px;
}	

.btn{
    margin-right:80px;
}

#canvas{
	margin:10px;
}	